<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${stationName}">Some Title</title>
    <link href="../../css/flapper.css" type="text/css" rel="stylesheet"/>
    <link href="../../css/app.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="../../js/jquery.transform-0.9.3.min.js"></script>
    <script src="../../js/jquery.flapper.js"></script>
    <script src="../../js/app.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function () {

            new FlapDisplay('input.display', /*[[${stationId}]]*/ '3000525', /*[[${initialData}]]*/ [])

        });
        /*]]>*/
    </script>
</head>
<body>
<div class="page">
    <div class="displays">
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
        <div class="activity"></div>
        <input class="display S"/>
    </div>
</div>
</body>
</html>